#root {
  max-width: 1280px;
  margin: 0 auto;
}

.markdown h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

